.barraNavegacao {
  background-color: #222; 
  padding: 10px 40px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 60px;
}

.barraNavegacao ul {
  display: flex;
  list-style: none;
  gap: 30px; 
  margin: 0;
  padding: 0;
}

.barraNavegacao a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.barraNavegacao  {
  color: #f39c12; 

}